.post-title {
  color: #535151;
}
.cover img {
   max-width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.card {
  position: relative;
  width: 60%;
}

.cover {
  width: 40%;
}

.box {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  padding: 1.5rem;
  display: inline-block;
  width: 100%;
  position: relative;
}

.post:nth-child(odd) {
  & .box {
    left: -20px
  }
}

.post:nth-child(even) {
  & .wrapper {
    flex-direction: row-reverse;
  }

  & .box {
    text-align: right;
    right: -20px
  }
}

.link {
  color: #afadad;
}

.projects-link {
  display: inline-block;
  border-bottom: 1px solid #CCC;;
  margin: 0.5rem 0;

  &:hover {
    text-decoration: none;
  }
}

.home-posts .post h2 {
  margin: 0 0 0.7rem;
}

@media only screen and (max-width: 768px) {
  .posts .post {
    margin-bottom: 2em;

    & .wrapper {
      flex-direction: column;
    }

    & .cover {
      width: 100%;
    }

    & .banner {
      width: 100%;
    }

    & .card {
      width: 100%;
    }

    & .box {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      text-align: left;
      padding: 0;
      box-shadow: none;
    }
  }
}
