// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1.5rem;
  padding-bottom: 0.5rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

.nav-right {
  float: right;
}

.nav-right a {
  display: inline-block;
  margin-left: 10px;
}

.nav-left {
  float: left;

  & img {
    min-width: 193px;
    display: inline-block;
  }
}

.presentation {
  width: 40%;
  float: left;
}

.about {
  overflow: hidden;
  margin-bottom: 25px;
}

.lu-photo {
  width: 50%;
  float: right;
}

.label {
  font-weight: 600;
}

.contact-link {
  color: #535151;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .nav-right {
    float: none;
    clear: both;
    display: block;
    margin-top: 3rem;

    & a {
      margin: 0 10px 0 0;
    }
  }

  .presentation {
    width: 100%;
  }

  .lu-photo {
    width: 100%;
  }
}
