// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1.5rem;
  padding-bottom: 0.5rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

.nav-right {
  float: right;
  display: inline;
}

.nav-right a {
  display: inline-block;
  margin-left: 10px;
}

.nav-left {
  display: inline;
  float: left;
}

.presentation {
  width: 40%;
  display: inline;
  float: left;
  margin-right: 1rem;
}

.lu-photo {
  width: 50%;
  display: inline;
  float: right;
}

@media only screen and (max-width: 768px) {
  .nav-right {
    float: none;
    clear: both;
    display: block;

    & a {
      margin: 0 10px 0 0;
    }
  }
}
